%p#notice= notice

!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      .grid-container {
        display: grid;
        height: 400px;
        align-content: space-around;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
      }
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
    / Title
    %title BerryDeli Cakes/previous_designs
    / Favicon
    %link{:href => "img/core-img/favicon.ico", :rel => "icon"}/
    / Core Stylesheet
    %link{:href => "style.css", :rel => "stylesheet"}/
    / Responsive CSS
    %link{:href => "css/responsive/responsive.css", :rel => "stylesheet"}/
  %body
    / Preloader Start
    #preloader
      .yummy-load
    / Background Pattern Swither
    / ****** Top Header Area Start ******
    .top_header_area
      .container
        .row
          .col-5.col-sm-6
            / Top Social bar start
            .top_social_bar
              %a{:href => "https://www.facebook.com/berrydelicakes/"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
                Facebook
          / Login Register Area
          .col-7.col-sm-6
            .signup-search-area.d-flex.align-items-center.justify-content-end
              .login_register_area.d-flex
                // %input#hw{:type => "button", :value => "Hello world"}/
                //- if !session[:user.id].nil?
                -if logged_out?
                  .login
                    %a#loginLink{"data-target" => "#loginModal", "data-toggle" => "modal", :href => "#"} Sign in 
                  .register
                    %a#registerLink{"data-target" => "#registerModal", "data-toggle" => "modal", :href => "#"} Sign up
                -if signged_in?
                  .login
                    %a#mypageLink{"data-target" => "#editModal", "data-toggle" => "modal", :href => "#"} MyPage 
                  .signout
                    %a#signoutLink{"data-target" => "#signoutModal", "data-toggle" => "modal", :href => "#"} Sign out
              .search-hidden-form
                %form{:action => "#", :method => "get"}
                  %input#search-anything{:name => "search", :placeholder => "What would you like?", :type => "search"}/
                  %input.d-none{:type => "submit", :value => ""}/
                  %span.searchBtn
                    %i.fa.fa-times{"aria-hidden" => "true"}
    / ****** Top Header Area End ******
    / ****** Header Area Start ******
    %header.header_area
      .container
        .row
          / Logo Area Start
          .col-12
            .logo_area.text-center
              %a.yummy-logo{:href => "index.html"} BerryDeli Cakes
        .row
          .col-12
            %nav.navbar.navbar-expand-lg
              %button.navbar-toggler{"aria-controls" => "yummyfood-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#yummyfood-nav", "data-toggle" => "collapse", :type => "button"}
                %i.fa.fa-bars{"aria-hidden" => "true"}
                Menu
              / Menu Area Start
              #yummyfood-nav.collapse.navbar-collapse.justify-content-center
                %ul#yummy-nav.navbar-nav
                  %li.nav-item
                    %a.nav-link{:href => "/"}
                      Home
                      %span.sr-only (current)
                  %li.nav-item
                    %a.nav-link.previous{:href => "/cakes"} Previous Designs
                  %li.nav-item
                    %a.nav-link{:href => "/flavors"} Flavors
                  %li.nav-item
                    %a.nav-link{:href => "/contacts"} Contact Me
                  -if(session[:user_id]!=nil)
                    %li.nav-item
                      %a.nav-link{:href => "/cake_orders"} My Orders
                    %li.nav-item
                      %a.nav-link{:href => "/users/"+session[:user_id].to_s+"/edit"} My Profile
                  -if current_user!=nil
                    -if current_user.role == true
                      %li.nav-item.active
                        %a.nav-link{:href => "/sessions"} listing User     
    / ****** Header Area End ******
    / ****** Breadcumb Area Start ******
    .breadcumb-area{:style => "background-image: url(img/bg-img/breadcumb.jpg);"}
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .bradcumb-title.text-center
              %h2 Listing Users
    .breadcumb-nav
      .container
        .row
          .col-12
            %nav{"aria-label" => "breadcrumb"}
              %ol.breadcrumb
                %li.breadcrumb-item
                  %a{:href => "/"}
                    %i.fa.fa-home{"aria-hidden" => "true"}
                    Home
                %li.breadcrumb-item.active{"aria-current" => "page"} Listing Users
    / ****** Breadcumb Area End ******
    / ****** Archive Area Start ******
    %section.archive-area.section_padding_30_80
      .container
        .row
          / Single Post
          .col-12.col-md-6.col-lg-4
            .single-post.wow.fadeInUp{"data-wow-delay" => "0.1s"}
              / Post Content
              .post-content
                .post-meta.d-flex
                  .post-author-date-area.d-flex
                    / Post Author
                    .post-author
                      .grid-container
                        %table
                          %thead
                          %tr
                            %div= "id"
                            %div= "username"
                            %div= "email"
                            %div= "destroy"
                      .grid-container
                        %tbody
                          - @user.each do |user| 
                            %tr
                              %div= user.id 
                              %div= user.userName
                              %div= user.email
                              %div= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
                              %br
                      
                      %br
                      
                      = link_to 'go to homepage', users_path
    / ****** Archive Area End ******



    // %table
    //   %thead
    //     %tr
    //       %th= "id"
    //       %th= "username"
    //       %th= "email"
    //       %th= "edit"
    //       %th= "destroy"
    //   %tbody
    //     - @user.each do |user| 
    //       %tr
    //         %td= user.id
    //         %td= user.userName
    //         %td= user.email
    //         %td= link_to 'Edit', edit_user_path(user)
    //         %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
    
    // %br
    
    // = link_to 'go to homepage', users_path


    / ****** Instagram Area Start ******
    #portfolio.instargram_area.owl-carousel.section_padding_100_0.clearfix
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/1.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/2.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/3.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/4.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/5.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/6.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/1.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
      / Instagram Item
      .instagram_gallery_item
        / Instagram Thumb
        %img{:alt => "", :src => "img/instagram-img/2.jpg"}/
        / Hover
        .hover_overlay
          .yummy-table
            .yummy-table-cell
              .follow-me.text-center
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  Like me
    / ****** Our Creative Portfolio Area End ******
    / ****** Footer Social Icon Area Start ******
    .social_icon_area.clearfix
      .container
        .row
          .col-12
            .footer-social-area.d-flex
              .single-icon
                %a{:href => "https://www.facebook.com/berrydelicakes/"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                  %span facebook
    / ****** Footer Social Icon Area End ******
    / ****** Footer Menu Area Start ******
    %footer.footer_area
      .container
        .row
          .col-12
            .footer-content
              / Logo Area Start
              .footer-logo-area.text-center
                %a.yummy-logo{:href => "index.html"} BerryDeli Cakes
              / Menu Area Start
              %nav.navbar.navbar-expand-lg
                %button.navbar-toggler{"aria-controls" => "yummyfood-footer-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#yummyfood-footer-nav", "data-toggle" => "collapse", :type => "button"}
                  %i.fa.fa-bars{"aria-hidden" => "true"}
                  Menu
                / Menu Area Start
                #yummyfood-footer-nav.collapse.navbar-collapse.justify-content-center
                  %ul.navbar-nav
                    %li.nav-item
                      %a.nav-link{:href => "/"}
                        Home
                        %span.sr-only (current)
                    %li.nav-item
                      %a.nav-link.previous{:href => "/cakes"} Previous Designs
                    %li.nav-item
                      %a.nav-link{:href => "/flavors"} Flavors
                    %li.nav-item
                      %a.nav-link{:href => "/contacts"} Contact Me
                    -if(session[:user_id]!=nil)
                      %li.nav-item
                        %a.nav-link{:href => "/cake_orders"} My Orders
                      %li.nav-item
                        %a.nav-link{:href => "/users/"+session[:user_id].to_s+"/edit"} My Profile
                    -if current_user!=nil
                      -if current_user.role == true
                        %li.nav-item.active
                          %a.nav-link{:href => "/sessions"} listing User 
      .container
        .row
          .col-12
            / Copywrite Text
            .copy_right_text.text-center
              %p
                Copyright @2018 | BerryDeli Cakes
                %i.fa.fa-heart-o{"aria-hidden" => "true"}
    / ****** Footer Menu Area End ******
    / ALL THE LOGIN AND REGISTER PART
    #registerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          #registerView
            .modal-header
              %h4.modal-title.register Register
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
            .modal-body
              .well
                %form#registerForm{:action => "/users", "data-toggle" => "validator", :method => "post"}
                  .form-group
                    %label.control-label{:for => "user[name]"} Name
                    %input#nameR.form-control{:name => "user[name]", :placeholder => "Name", :title => "Please enter your name", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[lastname]"} Lastname
                    %input#lastNameR.form-control{:name => "user[lastName]", :placeholder => "Lastname", :title => "Please enter your lastname", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[email]"} E-mail
                    %input#emailR.form-control{:name => "user[email]", :placeholder => "E-mail", :title => "Please enter your email", :type => "email"}/
                  .form-group
                    %label.control-label{:for => "user[phone]"} Phone
                    %input#phoneR.form-control{:name => "user[phone]", :placeholder => "Phone Number", :title => "Please enter your telephone", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[address]"} Address
                    %input#addressR.form-control{:name => "user[address]", :placeholder => "Address", :title => "Please enter your address", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[userName]"} Username
                    %input#usernameR.form-control{:name => "user[userName]", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
                    %span.help-block
                  .form-group
                    %label.control-label{:for => "user[password]"} Password
                    %input#passwordR.form-control{:name => "user[password]", :pattern => ".{6,}", :placeholder => "Password", :required => "", :title => "6 min password required", :type => "password"}/
                    /
                      <input type="password" class="form-control" id="passwordR" name="user[password]" required title="Please enter your password" placeholder="Password">
                    %span.help-block Min. 6 characters
                    / <input type="password" placeholder="Password" id="password" required>
                    / <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                  .form-group
                    %label.control-label{:for => "user[password]"} Confirm Password
                    %input#confirm_passwordR.form-control{:name => "user[passwordConfirm]", :placeholder => "Confirm Password", :required => "", :title => "Confirm password", :type => "password"}/
                    / <input type="password" class="form-control" id="confirmPasswordR" name="user[passwordConfirm]" required title="Confirm password" placeholder="Confirm Password">
                    %span.help-block
                  #registerErrorMsg.alert.alert-danger.collapse{:role => "alert"} Register error
                  %button.btn.contact-btn.btn-block{:type => "submit"} Register
    #loginModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          #loginView
            .modal-header
              %h4.modal-title.login Login
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
            .modal-body
              .well
                %form#loginForm{:action => "/sessions", :method => "post"}
                  .form-group
                    %label.control-label{:for => "username"} Username
                    %input#usernameL.form-control{:name => "username", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "password"} Password
                    %input#passwordL.form-control{:name => "password", :placeholder => "Password", :required => "", :title => "Please enter your password", :type => "password"}/
                  #loginErrorMsg.alert.alert-danger.collapse{:role => "alert"} Login error
                  %button.btn.contact-btn.btn-block{:type => "submit"} Login
    #editModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          #editView
            .modal-header
              %h4.modal-title.register Edit
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
            .modal-body
              .well
                %form#editForm{:action => "/session/edit", "data-toggle" => "validator", :method => "post"}
                  .form-group
                    %label.control-label{:for => "user[name]"} Name
                    %input#nameR.form-control{:name => "user[name]", :placeholder => "Name", :title => "Please enter your name", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[lastname]"} Lastname
                    %input#lastNameR.form-control{:name => "user[lastName]", :placeholder => "Lastname", :title => "Please enter your lastname", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[email]"} E-mail
                    %input#emailR.form-control{:name => "user[email]", :placeholder => "E-mail", :title => "Please enter your email", :type => "email"}/
                  .form-group
                    %label.control-label{:for => "user[phone]"} Phone
                    %input#phoneR.form-control{:name => "user[phone]", :placeholder => "Phone Number", :title => "Please enter your telephone", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[address]"} Address
                    %input#addressR.form-control{:name => "user[address]", :placeholder => "Address", :title => "Please enter your address", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "user[userName]"} Username
                    %input#usernameR.form-control{:name => "user[userName]", :placeholder => "Username", :required => "", :title => "Please enter your username", :type => "text"}/
                    %span.help-block
                  .form-group
                    %label.control-label{:for => "user[password]"} Password
                    %input#passwordR.form-control{:name => "user[password]", :pattern => ".{6,}", :placeholder => "Password", :required => "", :title => "6 min password required", :type => "password"}/
                    /
                      <input type="password" class="form-control" id="passwordR" name="user[password]" required title="Please enter your password" placeholder="Password">
                    %span.help-block Min. 6 characters
                    / <input type="password" placeholder="Password" id="password" required>
                    / <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                  .form-group
                    %label.control-label{:for => "user[password]"} Confirm Password
                    %input#confirm_passwordR.form-control{:name => "user[passwordConfirm]", :placeholder => "Confirm Password", :required => "", :title => "Confirm password", :type => "password"}/
                    / <input type="password" class="form-control" id="confirmPasswordR" name="user[passwordConfirm]" required title="Confirm password" placeholder="Confirm Password">
                    %span.help-block
                  #registerErrorMsg.alert.alert-danger.collapse{:role => "alert"} Register error
                  %button.btn.contact-btn.btn-block{:type => "submit"} Edit

    #signoutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          #signoutView
            .modal-header
              %h4.modal-title Signout
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
            .modal-body
              .well
                %form#signoutForm{:action => "/users/signout", :method => "post"}
                  .form-group
                    %label.control-label{:for => "username"} Do you want to really sign out?
                  %button.btn.contact-btn.btn-block{:type => "submit"} Signout
    / Jquery-2.2.4 js
    %script{:src => "js/jquery/jquery-2.2.4.min.js"}
    / Popper js
    %script{:src => "js/bootstrap/popper.min.js"}
    / Bootstrap-4 js
    %script{:src => "js/bootstrap/bootstrap.min.js"}
    / All Plugins JS
    %script{:src => "js/others/plugins.js"}
    / Active JS
    %script{:src => "js/active.js"}
